<div>
  <label for="value1">Enter the value:</label>
  <input
    type="number"
    id="value1"
    [(ngModel)]="num1"
    placeholder="Enter the number"
  />
</div>
<br />
<div>
  <label for="value2">Enter the value:</label>
  <input
    type="number"
    name="value2"
    id="value2"
    [(ngModel)]="num2"
    placeholder="Enter the number"
  />
</div>
<p></p>
<br />
<div>
  <button class="btn btn-primary ms-5" (click)="onAdd()">ADD</button>
  <button class="btn btn-secondary ms-5" (click)="sub()">SUB</button>
  <button class="btn btn-danger ms-5" (click)="mul()">MULTIPLY</button>
  <button class="btn btn-success ms-5" (click)="div()">DIVIDE</button>
</div>
<br />
<div>
  <p class="fw-bolder">Answer is {{ this.num3 }}</p>
</div>
